{% extends 'base.html' %}

{% load static %}

{% block title %}Home - StreamFare{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}

{% block content %}

<main class="home-content">

    <section class="movie-screen">

        <h2>🎬 Welcome to StreamFare</h2>
        <p>Your one-stop destination for streaming your personal movie collection.</p>

        <section class="featured-content">

            <h3>Featured Movies</h3>

            <div class="featured-movie-grid">

                {% for movie in featured_movies %}

                    <article class="featured-movie-card">

                        {% if movie.poster_url %}
                            <img
                                src="{{ movie.poster_url }}"
                                alt="{{ movie.title }} poster"
                                class="featured-poster"
                            >
                        {% endif %}

                        <h4>{{ movie.title }}</h4>

                    </article>

                {% empty %}

                    <p>No movies are currently available.</p>

                {% endfor %}

            </div>

        </section>

    </section>

</main>

{% endblock %}