{% extends 'base.html' %}

{% load static %}

{% block title %}Home - StreamFare{% endblock %}

{% block content %}
    <main class="home-content">
        <div class ="movie-screen">
            <h2> 🎬 Welcome to StreamFare</h2>
            <p>Your one-stop destination for streaming movies and shows.</p>
            <div class="featured-content">
                <h3>Featured Movies</h3>
                <ul>
                    <li><a href="#">Movie 1</a></li>
                    <li><a href="#">Movie 2</a></li>
                    <li><a href="#">Movie 3</a></li>
                </ul>
            </div>
        </div>
    </main>

{% endblock %}